* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    position: relative;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background: #050f2c;
    border-bottom: 2px solid rgba(255,255,255,.1);;
}

h1 {
    color: white;
    font-weight: 300;
    font-family: 'Balsamiq Sans', cursive;
}
nav > h1{
    color: white;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    background: linear-gradient(
124deg
, #a3b7ef, #ef3939);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 25px;
    margin-top: 15px;
    
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile {
    display: flex;
    justify-content: center;
    padding-right: 25px;
    align-items: center;
}

.profile h1 {
    margin-right: 15px;
}

.container {
    display: flex;
}

.genres {
    height: calc(100vh - 70px);
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #050f2c;
    padding: 25px;
    border-right:2px solid rgba(255,255,255,.1);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search i {
    width: 60px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: white;
    border-radius: 50%;
    left: 0px;
    color: #ef3939;
    z-index: 1;
    position: relative;
}

.search input {
    font-size: 18px;
    outline: 0;
    left: -10px;
    position: relative;
    background: linear-gradient(45deg, #ef3939, #0d61ff);
    color: white;
    border: 0;
    border-radius: 0px 25px 25px 0px;
    padding: 10px 10px 10px 12px;
}

.genres .genresList {
    font: 18px;
    padding: 40px 25px;
}

.genre {
    display: flex;
    align-items: center;
    margin: 18px 10px;
    background: rgba(255,255,255,.1);
    color: white;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    padding: 5px 15px;
    width: 200px;
    
}

.genre h2 {
    padding: 0 10px;
    font-family: 'Nanum Gothic', sans-serif;}

.player {
    flex: 3;
    background: #050f2c;
    display: flex;
    flex-direction: column;
}

.songList {
    flex: 2.5;
    background: #050f2c;
}

.songList {
    width: 100%;
    padding: 0 20px;
    overflow: auto;
}

.songList .songDetails, .songsHeading {
    width: 100%;
    display: flex;
    font-size: 25px;
    padding: 7px;
    text-align: left;
    color: #EDF2F4;
    font-family: 'Balsamiq Sans', cursive;
    margin: 5px 0;
    border-radius: 10px;
    background: rgba(255,255,255,.1);

}

.songDetails{
    cursor: pointer;
    pointer-events: none;
}

.songList .songDetails span{
    padding: 2px 10px;
    font-size: 16px;
    color: #EDF2F4;
    font-family: 'Nanum Gothic', sans-serif;}

/* .songList td i {
    padding-right: 5px;
} */

.musicSelected{
    background: linear-gradient(45deg, #ef3939, #0d61ff) !important;
    border-radius: 10px;
    border: 0;
}
.songList tr{
    cursor: pointer;
    display: flex;
    width: 100%;
}

.songName{
    flex: 2;
}

.artistName{
    flex: 1;
}

.songDuration{
    flex: 1;
    text-align: right;
}

#songHeading{
    flex: 2;
    font-size: 25px;
    font-family: 'Balsamiq Sans', cursive;
}

#artistHeading{
    flex: 1;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 25px;

}
#durationHeading{
    flex: 1;
    font-family: 'Balsamiq Sans', cursive;
    text-align: right;
    font-size: 25px;

}



.mediaControl {
    background: #050f2c;
    flex: .7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mediaControl input{
    width: 80%;
    height: 20px;
    pointer-events: none;
    transition: all ease 1ms;
}


.control{
    display: flex;
    align-items: center;
    justify-content: center;
}
.control i{
    font-size: 60px;
    color: white;
    cursor: pointer;
    z-index: 1;


}
.control span{
    padding: 10px 20px;
    background: linear-gradient(45deg, #ef3939, #0d61ff);
    border: 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align:center;
    font-size: 15px;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    width: 90px;
    
}
#prev{
    border-radius: 20px 0 0 20px;
    right: -7px;
}

#next{
    border-radius: 0 20px 20px 0px;
    right: 7px;

    
}
.selected{
    background: linear-gradient(45deg, #ef3939, #0d61ff);
    color: white
}
/* Music Carousel Section */

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
    box-sizing: border-box;
}

.currentPlayer input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 300px;
    height: 80%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.currentPlayer {
    width: 100%;
    flex: 2.5;
    max-width: 100%;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.settings
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;    
}
.settings i{
    position: relative;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 1;
    color: #0D61FF;
    cursor: pointer;
    font-weight: 100;
    background-color: white;
    border: 2px solid white;
}
.buttons{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


@media(max-height:768px)
{
    .card img{
        width: 180px;
        height: 180px;
    }
}

@media(max-height: 1024px) and (min-height: 769px)
{
    .card img{
        width: 250px;
        height: 250px;
    }
}

#item-1:checked~.cards #song-3, #item-2:checked~.cards #song-1, #item-3:checked~.cards #song-2 {
    transform: translatex(-50%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-2, #item-2:checked~.cards #song-3, #item-3:checked~.cards #song-1 {
    transform: translatex(50%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-1, #item-2:checked~.cards #song-2, #item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

/* Music Carousel Section */
