*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    align-items: center;
    height: 100vh;
    background: #050f2c;
}
.heading{
    font-size: 45px;
    text-align: center;
    padding: 20px;
    color: white;
    margin: 5px;
    font-family: 'Original Surfer', cursive;
}
.formHeading{
    font-family: 'Bitter', serif;
}
.homepage{
    align-items: center;
    display: flex;
    height: max-content;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    flex-direction: column;
    margin: 0 90px;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(45deg, #ef3939, #0d61ff);
}
.formContainer{
    display: flex;
    padding: 0 90px;
    padding-bottom: 20px;
    width: 100%;

}
.imageContainer{
    display: flex;
    width: 50%;
}
.imageContainer img{
    width: 100%;
}



.loginForm{
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
}

.loginForm form, #login{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loginForm input, .loginForm select{
    width: 300px;
    padding: 5px 10px;
    margin: 5px 20px;
    border: 1px solid #Adadad;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255,255,255,.5);
    outline: 0;
    font-family: 'Bitter', serif;

}
.pd-90{
    padding: 0 90px;
}

.loginForm label{
    width: 300px;
    font-family: 'Bitter', serif;
    font-weight: 600;
    margin-top:15px;
}
.loginForm p{
    font-family: poppins;
}
.loginForm button{
    background: #3380EF;
    padding: 10px 30px;
    font-size: 18px;
    border: 0;
    border-radius: 20px;
    font-family: 'Bitter', serif;

    color: white;
    cursor: pointer;
    margin: 10px;
}

.loginForm form span{
    color: red;
    cursor: pointer;
}
#signupBtn
{
    color: red;
    cursor: pointer;
}
#login{
    width: 100%;
    position: absolute;
    transition: all 300ms ease-in;
    border-radius: 10px;
    /* transform: translate(-100%); */
    background: white;
}

#register{
    position: absolute;
    transition: all 300ms ease-in;
    background: white;
    border-radius: 10px;
    transform: translate(100%);
}