.artistOptions{
    background: #050f2c;
        flex: .7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 4;
    padding: 20px;

}

.uploadSong, .viewWallet{
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;

}

.artistOptions i, .artistOptions .icon{
    position: relative;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 1;
    color: #0D61FF;
    font-weight: 100;
    background-color: white;
    border: 2px solid white;

}
.icon img{
    width: 25px;
}
.artistOptions span{
    background: linear-gradient(45deg, #ef3939, #0d61ff);
    border: 0;

    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    left: -15px;
    border-radius: 0 25px 25px 0;
    height: 40px;
    color: #EDF2F4;

    padding: 10px 25px;
}

/* Popup */

.pop-up{
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform:translateX(-50%) translateY(110%);
    border-radius: 25px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    transition: all ease-in-out 0.2s;
    visibility: hidden;
    background: white;
    z-index: 2;
    
}

#uploadForm{
    width: max-content;
    height: max-content;
}


#uploadForm form{
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uploadForm form h2{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#wallet{
    width: max-content;
    height: max-content;
}

#wallet{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #uploadForm form input[type="text"]{
    border: none;
    border-bottom: 2px solid black;
    background: #e7e7e7;
    padding: 10px;
    font-size: 16px;
} */

#uploadForm input, #uploadForm select{
    width: 300px;
    padding: 5px 10px;
    font-size: 18px;
    outline: 0;
    font-family: 'Bitter', serif;

}

#uploadForm label{
    width: 300px;
    font-family: 'Bitter', serif;
    margin-top:15px;
}

#uploadForm input[type="file"]
{
    padding: 5px 0;
}

#uploadForm button{
    background: #3380EF;
    padding: 10px 30px;
    font-size: 18px;
    border: 0;
    border-radius: 20px;
    font-family: 'Bitter', serif;

    color: white;
    cursor: pointer;
    margin: 10px;
}
button{
    background: linear-gradient(
        45deg
        , #ef3939, #0d61ff);
            border: 0;
            position: relative;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 17px;
            left: -15px;
            border-radius: 25px;
            height: 40px;
            color: #EDF2F4;
            padding: 10px 25px;
}